<!-- index.html -->
{% extends "layout.html" %}
{% block title %}
Portfolio
{% endblock %}
{% block main %}
<!-- 调试信息 -->


<table>
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for row in holdings %}
        <tr>
            <td>{{ row.symbol }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.shares }}</td>
            <td>{{ row.price | usd }}</td>
            <td>{{ row.total | usd }}</td>
        </tr>
        {% else %}
        <tr><td colspan="5">No holdings</td></tr>
        {% endfor %}
    </tbody>
</table>
<p><strong>Cash:</strong> {{ cash | usd }}</p>
<p><strong>Total Assets:</strong> {{ total | usd }}</p>
{% endblock %}
